.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}



  .address{
      font-size: 80%;
      margin: 0px;
      color: #0f0f0f
  }

  a:link{
      text-decoration: none;
  }

  body{
      padding: 50px 0px 0px 0px;
      z-index: 0;
  }

  .lastname{
    padding-top: 10px;
  }
  
  @media (min-width: 576px){
.col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
    display: table-cell;
}}

.carda{
    margin-left: 22px;
}

.topcard{
    margin-top: 17px;
    margin-bottom: 15px;
}

.eat{
    padding-left: 10px;
}

@media(min-width:912px){
.rev{
    width: 166px;
}}

@media(min-width:912px){
.imgl{
    margin-left: 97px;
}}

@media(min-width:768px){
    .time{
        margin-left: 23px;
    }}



.top{
    margin-top: 16px;
}

.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}